<a href="https://colab.research.google.com/github/pallavibekal/IISC-CDS-Python/blob/main/Euler_Problems_in_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find the sum of multiples of 3 or 5 below 1000

In [ ]:
# Project Euler  
LIMIT = 1000
n, total = 1, 0
while n < LIMIT:
  if n % 3 == 0 or n % 5 == 0:
    total += n
  n += 1
print(total)

233168

In [ ]:
LIMIT = 1000
total = 0
for n in range(1,LIMIT):
  if n % 3 == 0 or n % 5 == 0:
    total += n
print(total)

233168

In [ ]:
def select(n: int) -> bool:
  return n % 3 == 0 or n % 5 == 0

LIMIT = 1000
n, total = 1, 0

while n < LIMIT:
  if select(n):
    total += n
  n += 1
print(total)

233168

In [ ]:
LIMIT = 1000
total = 0
for n in range(1, LIMIT):
  if select(n):
    total += n
print(total)

233168

In [ ]:
LIMIT = 1000
sum(range(3, LIMIT, 3)) + sum(range(5, LIMIT, 5)) - sum(range(15, LIMIT, 15))

233168

In [ ]:
sum(set(range(3, LIMIT, 3)) | set(range(5, LIMIT, 5)))

233168

In [ ]:
sum([x for x in range(1, LIMIT) if select(x)])

233168

In [ ]:
sum(filter(select, (range(1,LIMIT))))

233168

In [ ]:
filter?

Find the sum of all the primes below two million.

In [ ]:
def even(n: int) -> bool:
  return n % 2 == 0

In [ ]:
list(filter(even, range(1, 20)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
sum(filter(even, range(1,20)))

90

In [ ]:
even?

In [ ]:
even??

Euler Problem 10 : Sum of all prime numbers below 2 million

In [ ]:
def is_prime(n: int) -> bool:
  if n < 2:
    return False
  if n in [2, 3, 5, 7]:
    return True
  if n % 2 == 0:
    return False
  r = 3
  while  r * r <= n:
    if n % r == 0:
      return False
    r += 2
  return True

In [ ]:
LIMIT = 2000000
sum (filter(is_prime, range(LIMIT)))

142913828922

In [ ]:
2 + sum(filter(is_prime,range(3,LIMIT,2)))

142913828922

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143

In [ ]:
def factorize(n: int) -> bool:
  factors = []
  while n % 2 == 0:
    factors.append(2)
    n //= 2
  factor = 3
  while n > 1:
    while n % factor == 0:
      factors.append(factor)
      n //= factor
    factor += 2
  return factors

In [ ]:
factorize(13195)

[5, 7, 13, 29]

In [ ]:
max(factorize(600851475143))

6857

In [ ]:
def is_perfect_cube(n: int) -> bool:
  r = 0 
  while r * r * r < n:
    r += 1
  return r * r * r == n

In [ ]:
is_perfect_cube(10)

False

In [ ]:
def is_power_of2(n: int) -> bool:
  if n == 1:
    return True
  if n % 2 == 1:
    return True
  return is_power_of2(n // 2)

In [ ]:
is_power_of2(7)

True

In [ ]:
def hermione(how_many: int) -> bool:
  a, b = 0, 1
  potter = []
  for _ in range(0, how_many):
    potter.append(a)
    a, b = b, a+b
  return potter

In [ ]:
hermione(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
def triangular(n):
  def odd(n):
    return n % 2 == 1
  return sum(filter(odd, range(n)))

In [ ]:
triangular(10)

25

In [ ]:
odd(8)

NameError: ignored

In [ ]:
def weasly(n):
  while n > 0:
    if n % 2 == 1:

In [ ]:
def snapes(n):
  s = []
  p = []
  while n > 0:
    s.append(n % 10) # use s.insert(0, n % 10)
    p.insert(0, n % 10)
    n //= 10
  return s, print

In [ ]:
s, p = snapes(10)
print(s)
print(p)

0
1